name: Check

on:
  pull_request:
  push:
  workflow_dispatch:
  schedule:
    # Re-test every month
    - cron: '0 2 1 * *'

env:
  # more verbosity to make it easier to understand failures
  PYTEST_FLAGS: -v --log-level=DEBUG

  # dependency cooldown to mitigate supply chain attacks
  UV_EXCLUDE_NEWER: '1 week'

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          add-problem-matchers: 'false'
      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT
      - name: Persistent Github pip cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: pip-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml', 'setup.cfg', 'setup.py', 'Makefile') }}
          restore-keys: |
            pip-${{ runner.os }}-${{ matrix.python-version }}-
            pip-${{ runner.os }}-
      - name: Persistent Github venv cache
        uses: actions/cache@v5
        with:
          path: .venv/
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('pyproject.toml', 'setup.cfg', 'setup.py', 'Makefile') }}
      - name: Install dependencies
        run: make venv
      - name: flake8
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: flake8
          run: make lint-flake8
      - name: mypy
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: mypy
          run: make lint-mypy
      - name: isort
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: isort
          run: make lint-isort
      - name: pytest
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: pytest
          run: make test-pytest
      - name: prysk, readme
        run: make test-prysk readme
      - name: smoke-dist
        run: make smoke-dist

  check-distro:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        image:
          - 'debian:unstable'
          - 'debian:testing'
          - 'debian:stable'
          - 'debian:oldstable'
          - 'ubuntu:devel'
          - 'ubuntu:rolling'
          - 'ubuntu:latest'

    container: ${{ matrix.image }}

    steps:
      - name: Install prerequisites via apt
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          set -ex
          apt update
          apt install -y git
      - uses: actions/checkout@v6
      - name: Workaround for https://github.com/actions/checkout/issues/1169
        run: git config --global --add safe.directory "$PWD"
      - name: Install dependencies via apt
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          set -ex
          deps=$(sed -n '/^\[tool.gha-check-distro\]/,/^\[/p' pyproject.toml \
            | tr '\n' ' ' \
            | grep -o -P '\sdependencies-apt\s*=\s*\K\[.*?\]' \
            | grep -o -P '".*?"' \
            | tr -d '"')
          apt-cache --generate pkgnames \
            | grep --line-regexp --fixed-strings "$deps" \
            | xargs apt install -y
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          # disable cache, distro detection fails on debian unstable/testing
          # https://github.com/astral-sh/setup-uv/issues/773
          enable-cache: 'false'
          add-problem-matchers: 'false'
      - name: Install remaining dependencies
        run: make venv-system-site-packages
      - name: flake8
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: flake8
          run: make lint-flake8
      - name: mypy
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: mypy
          run: make lint-mypy
      - name: isort
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: isort
          run: make lint-isort
      - name: pytest
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: pytest
          run: make test-pytest
      - name: prysk, readme
        run: make readme

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
